
body {
    background-image: url('./Background.jpg');
    background-size: cover;
    background-position: center;
}
#main-app{
  background-color: rgba(73, 79, 154, 0.156); 
  backdrop-filter: blur(300px);
}

#password, #length{
  background-color: rgba(56, 50, 79, 0.263);
  color: white;
}


 











